<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>data404 - {{ page.title }}</title>
	<link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" title="master" charset="utf-8">
  </head>
  <body>
	<div id="headerWrapper">
		<div id="photoWrapper">
		
		</div>
		<div id="container">
			
			<h1>data404</h1>
			<h2 class="subtitle">front liberation</h2>
			<p class="a">_</a>
			<p class="mascota">6</p>
			<!-- 
			<div id="links">
				<ul>
					<li><a href="">home</a></li>
					<li><a href="">about</a></li>
					<li><a href="http://data404.org/wiki">documentation</a></li>
					<li><a href="">road map</a></li>
					<li><a href="">faq</a></li>
					<li><a href="">contact us</a></li>
				</ul>
			</div>	
			-->
			<div id="main">
				{{ content }}
			</div>
		</div>
	</div>
	<div id="footer">
	
	</div>
  </body>
</html>
