<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>data404 - {{ page.title }}</title>
	<link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" title="master" charset="utf-8">
  </head>
<!-- 
Inspiration:
http://wardzwart.carbonmade.com/projects/2182773#2
http://dustincurtis.com/index.html
http://www.flickr.com/photos/davidherson/4384185699/sizes/l/in/pool-73218976@N00/

-->
  <body>
	<div id="headerWrapper">
		<div id="photoWrapper">
		
		</div>
		<div id="container">
			
			<h1>data404</h1>
			<h2 class="subtitle">front liberation</h2>
			<p class="a">_</p>
			<p class="mascota">6</p>
			<!-- 
			<div id="links">
				<ul>
					<li><a href="">home</a></li>
					<li><a href="">about</a></li>
					<li><a href="http://data404.org/wiki">documentation</a></li>
					<li><a href="">road map</a></li>
					<li><a href="">faq</a></li>
					<li><a href="">contact us</a></li>
				</ul>
			</div>	
			-->
			<div id="main">
				{{ content }}
			</div>
		</div>
	</div>
	<div id="footer">
		<!-- Open Knowledge Link -->
		<p>
		 <a href="http://opendefinition.org/">
		 <img alt="This material is Open Knowledge" border="0"
		  src="http://m.okfn.org/images/ok_buttons/ok_80x23_black.png" /></a>
		<!-- /Open Knowledge Link -->
		<!-- Open Data Link -->
		<a href="http://opendefinition.org/">
		  <img alt="This material is Open Data" border="0"
		  src="http://m.okfn.org/images/ok_buttons/od_80x23_black.png" />
		</a>
		<!-- /Open Data Link -->
		<!-- Open Content Link -->
		<a href="http://opendefinition.org/">
		  <img alt="This material is Open Content" border="0"
		  src="http://m.okfn.org/images/ok_buttons/oc_80x23_black.png" />
		</a>
		<!-- /Open Content Link -->
		| (c) data404 | Tot el material està sota disposició de la <a href="http://creativecommons.org/licenses/by/3.0/deed.ca">llicència Creative Commons Reconeixement 3.0 No adaptada</a> | disseny per <a href="http://xbelanch.net">I'm not developer</a>| Estàndards a mitjes <a href="http://validator.w3.org/check/referer">XHTML</a> i <a href="http://jigsaw.w3.org/css-validator/validator?uri=data404.org&profile=css21&usermedium=all&warning=1&lang=es">CSS3</a>
		</p>

	
	</div>
  </body>
</html>
